/* Navbar fixa */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Efeito nos cards */
.card {
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Botões personalizados */
.btn-add {
  background-color: #218838;
  color: white;
  border-radius: 20px;
}
.btn-add:hover {
  background-color: #218838;
}

/* Rodapé */
footer a {
  color: #ffc107;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
